table {
  border: 1px solid gray;
  margin: auto;
  text-align: center;
}
tr {
  height: 3em;
}
.thead_th {
  width: 60em;
  text-align: center;
  padding: 0 10px;
  border: 1px solid gray;
}

.thead_td {
  width: 60em;
}
